
*, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    object-fit: cover;
}

.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: $accent;
    border: none;
    padding: 10px 20px;
    a {
        color: $black;
    }
}