@media (max-width:1250px) {
    // home page top down
    .whosHarper {
        .wrapper {
            padding: 80px 0;
            justify-content: center;
            .textContainer {
                width: 80%;
                align-items: flex-end;
                text-align: right;
                p {
                    width: 90%;
                }
            }
        }
    }
    .blogLinks {
        .flexContainer {
            .textContainer {
                width: calc(50% - 40px);
                padding: 20px 0;
                p {
                    padding-bottom: 20px;
                }
            }
            .imgContainer {
                width: 50%;
            }
        }
        .first {
            .textContainer {
                margin-left: 40px;
            }
        }
        .second {
            .textContainer {
                margin-right: 40px;
            }
        }
    }
    .gallery {
        .wrapper {
            padding: 40px 0;
        }
    }
    // base styling for other pages
    .blogpost,
    .commentForm,
    .contactForm,
    .commentSection {
        width: calc(100% - 390px);
    }
    // blog page 
    .commentSection {
        .blogComment {
            .textContainer {
                p:first-child {
                    padding-bottom: 10px;
                }
            }
        }
    }
    .commentForm, 
    .contactForm {
        form {
            .firstLine {
                flex-wrap: wrap;
                .userName {
                    margin-bottom: 20px 
                }
                div.formSection {
                    width: 100%;
                }
            }
        }
    }

}

@media (max-width:915px) {
    // main page header
    header.homePage {
        .wrapper {
            padding: 10px 0 30px;
            flex-direction: column;
            .imgContainer {
                width: 90%;
                position: static;
                box-shadow: none;
                height: 80vh;
                img {
                    height: 100%;
                }
            }
            h2 {
                position: absolute;
                bottom: -4%;
                left: 50%;
                transform: translateX(-50%);
                padding: 30px 35px;
                font-size: clamp(4rem, 18vw, 8rem);
                img {
                    width: clamp(4rem, 18vw, 8rem);
                }
            }
        }
    }
    // main page responsiveness - top down
    .whosHarper {
        .wrapper {
            padding: 60px 0;
            .textContainer {
                width: 100%;
                align-items: center;
                text-align: center;
                p {
                    width: 90%;
                }
            }
        }
    }
    .linksSection {
        .imgBanner {
            height: 275px;
            img {
                height: 275px;
                object-fit: cover;
            }
        }
        .flexContainer {
            flex-direction: column;
            align-items: center;
            padding: 60px 0;
            .textContainer {
                width: 90%;
                padding: 0 0 0 70px;
                p {
                    padding: 25px 0;
                }
            }
        }
    }
    .blogLinks {
        width: 100%;
        position: relative;
        .shadowOne {
            width: 100%;
        }
        .shadowTwo {
            width: 100%;
            bottom:21%;
        }
        .flexContainer {
            width: 100%;
            .imgContainer {
                width: 100%;
                height: 350px;
            }
            .textContainer {
                align-items: flex-start;
                width: 100%;
                p {
                    padding: 25px 0 35px;
                }
            }
        }
        .first, 
        .second {
            flex-direction: column;
            margin-bottom: 20px;
            .imgContainer {
                top: -40px;
            }
            .textContainer {
                margin-left: 0px;
                margin-right: 0px;
                padding-bottom: 20px;
                p {
                    padding-bottom: 20px;
                }
            }
            button {
                align-self: flex-end;
            }
        }
        .first {
            .textContainer {
                margin-bottom: 40px;
            }
        }
    }
    .harpersJourney {
        .flexContainer {
            flex-direction: column;
            padding: 40px 0;
            align-items: center;
            overflow: hidden;
            .imgContainer {
                width: 80%;
                margin-bottom: 50px;
                max-height: 400px;
                box-shadow: 100px 20px 0 $tertiary, -100px 20px 0 $tertiary;
                img {
                    object-position: top;
                }
            }
            .textContainer {
                width: 100%;
                button {
                align-self: flex-end;
            }
            }
        }
    }
    .gallery {
        .wrapper {
            div:nth-last-child(2) {
                display: none;
            }
            .imgContainer {
            width: calc(50% - 20px);
        }
        }
    }
    // blog page top down 
    .blogpost, 
    .commentSection {
        width: 100%;
    }
    .blogPage, 
    .contactPage {
        padding: 60px 0;
    }
    .blogPage aside {
        position: static;
        width: 100%;
        .aboutHarper {
            margin-top: 40px;
            flex-direction: row;
            justify-content: space-between;
            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 50%;
            }
            .imgContainer {
                width: 40%;
                img {
                    object-position: bottom;
                }
            }
        }
        .recentPosts {
            margin: 40px 0 0 0;
        }
    }
    .commentForm {
        width: 100%;
    }
    .commentForm, 
    .contactForm {
        form {
            .firstLine {
                .userName {
                    margin-bottom: 0; 
                }
                div.formSection {
                    width: calc(50% - 10px);
                }
            }
        }
    }
    // contact page 
    .contactPage {
        .flexContainer {
            flex-direction: column;
            .contactSection {
                width: 100%;
                margin-bottom: 40px;
            }
            .contactForm {
                width: 100%;
            }
        }
    }


}

@media (max-width: 700px) {

    header.homePage {
        .wrapper {
            width: 100%;
            padding:0;
            .imgContainer {
                width: 100%;
                height: 85vh;
            }
            h2 {
                bottom: -8%;
                img {
                    display: none;
                }
            }
        }
    }

    .headerNavMobile {
        display:block;
    }
    nav.headerNav .navBar .headerNavDesktop {
        display:none;
    }

    .blogLinks {
        width:100%;
        .shadowOne {
            display: none;
        }
        .shadowTwo {
            display: none;
        }
        .wrapper {
            width: 100%;
        }
        .flexContainer {
            .imgContainer {
                width: 100%;
                height: 350px;
                img {
                    height: 100%;
                }
            }
            .textContainer {
                margin: 0 auto;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 40px;
                p {
                    padding: 25px 0 35px;
                }
            }
        }
        .first, 
        .second {
            margin-bottom: 20px;
            .imgContainer {
                top: 0px;
            }
        }
    }
    .harpersJourney {
        .flexContainer {
            .imgContainer {
                width: 100%;
                margin-bottom: 30px;
                max-height: 400px;
                box-shadow: none;
            }
        }
    }

    // blog page 

    .blogPage {
        p {
            font-size: 0.9rem;
        }
        .wrapper {
            width: 100%;
        }
    }

    .commentForm, 
    .contactForm {
        form {
            .firstLine {
                flex-wrap: wrap;
                .userName {
                    margin-bottom: 20px 
                }
                div.formSection {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    // home page
    .gallery {
        .wrapper {
            div:last-child {
                display: none;
            }
            .imgContainer {
                width: 100%;
            }
        }
    }
    // blog page 
    .commentSection {
        .blogComment {
            flex-direction: column;
            .textContainer {
                margin-top: -60px;
                width: 100%;
                p:first-child {
                    padding-left: 110px;
                    span {
                        display: block;
                    }
                }
            }
        }
    }
    .blogPage aside {
        min-width: 200px;
        .aboutHarper {
            flex-direction: column;
            .imgContainer {
                width: 100%;
                max-height: 350px;
            }
            .textContainer {
                width: 100%;
            }
        }
    }
    // contact page 
    .contactPage .wrapper {
        width: 100%;
        .contactSection {
            min-width: 200px;
        }
    }
}

@media (max-width: 415px) {
    // home page top down
    .whosHarper {
        .wrapper {
            .textContainer {
                button {
                align-self: center;
                width: 100%;
            }
            }
        }
    }
    
    .linksSection {
        .flexContainer {
            flex-direction: column;
            align-items: center;
            padding: 50px 0 30px 0;
            .textContainer {
                width: 90%;
                padding: 0;
                p {
                    padding: 25px 0;
                }
                h4 {
                    padding-left: 80px;
                }
                // .bubble {
                //     left: 90%;
                // }
            }
        }
    }
    
    .blogLinks {
        .first,
        .second {
            .textContainer {
                align-items: center;
                text-align: center;
            }
            button {
                align-self: center;
                width: 100%;
            }
        }
    }
    .harpersJourney {
        .flexContainer {
            .textContainer {
                text-align: center;
                button {
                align-self: center;
                width: 100%;
            }
            }
        }
    }

    // blog page 
    .blogPage aside {
        .aboutHarper {
            .textContainer {
                padding: 0 30px 30px 30px;
            }
            padding: 0;
        }
        .recentPosts {
            padding: 20px 0 20px 20px;
        }
    }
    .commentSection {
        .blogComment {
            .textContainer {
                margin-top: 20px;
                p:first-child {
                    padding-left:0px;
                }
            }
        }
    }
    // contact page 
}