nav.headerNav {
    li {
    list-style: none;
    }
    background-color: $primary;
    display: flex;
    justify-content: center;
    .navBar .headerNavDesktop {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            li {
                padding: 0 20px;
                a {
                    line-height: 1.45rem;
                }
            }
        }
        h1 {
            padding: 10px 25px;
        }
    }
}

/* mobile menu nonsense */
.headerNavMobile {
    display:none;
}

nav.headerNav {
    .navBar {
        width: 100%;
        .headerNavMobile {
            h1 {
                font-size: clamp(2rem, 12vw, 3rem);
                position: absolute;
                z-index: 10;
                top: 28px;
                left: 35px;
                color: $offWhite;
            }
            ul {
                background: #e3e4eacc;
                position: fixed;
                z-index: 20;
                width: 100%;
                top: 100px;
                transition: all 0.5s;
                height: 0;
                overflow: hidden;
                a {
                    display: inline-block;
                    color: $black;
                    font-size: 40px;
                    width: 100%;
                    padding: 20px 40px;
                    transition: background 0.7s, color 0.3s;
                    &:hover,
                    &:focus {
                        color: $offWhite;
                        background: #f38d8dab;
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

input[type="checkbox"]:checked ~ ul.mainMenu {
	height: auto;
}
input[type="checkbox"] {
	position: absolute;
    opacity: 0;
    &:focus ~ label {
        background-color: #f38d8dab;
    }
}
label[for="toggle"] {
	position: fixed;
	top: 24px;
	right: 25px;
	color: white;
    opacity: 0.9;
	z-index: 20;
    padding: 8px 15px;
    background-color: #b9dde7ab;
    border-radius: 5px;
    .fa-bars {
        font-size: clamp(2rem, 12vw, 3rem);
    }
    &:hover,
    &:focus {
        background-color: #f38d8dab;
    }
}
