// home page styling
.whosHarper {
    background-color: $offWhite;
    .wrapper {
        padding: 110px 0;
        display: flex;
        justify-content: flex-end;
        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // width to keep it in line with h2
            width: calc(60% - 100px);
            p {
                padding: 25px 0 35px;
            }
        }
    }
}

.linksSection {
    background-color: $offWhite;
    .flexContainer {
        padding: 80px 0;
        display: flex;
        flex-wrap: wrap;
        .textContainer {
            width: 50%;
            position: relative;
            padding: 0 40px 60px 80px;
            p {
                padding: 25px 0 0;
            }
            .fa-image,
            .fa-user-alt,
            .fa-desktop,
            .fa-phone {
                font-size: 1.4rem;
            }
        }
        .bubble {
            background-color: $primary;
            padding: 10px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: -5px;
        }
    }
}

.blogLinks {
    width:100%;
    position: relative;
    .shadowOne {
        display: block;
        height: 350px;
        width: 51%;
        background-color: $secondary;
        position: absolute;
        z-index: 5;
        top:-20px;
        left:0;
    }
    .shadowTwo {
        display: block;
        height: 350px;
        width: 49%;
        background-color: $primary;
        position: absolute;
        z-index: 5;
        bottom:-40px;
        right:0;
    }
    .flexContainer {
        display: flex;
        width: 100%;
        .imgContainer {
            width: 50%;
            height: 350px;
            position: relative;
            // make the photos float above the shadows:
            z-index: 10;
            img {
                height: 100%;
            }
        }
        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: calc(50% - 100px);
            p {
                padding: 25px 0 35px;
            }
        }
    }
    .first {
        align-items: flex-end;
        margin-bottom: 20px;
        .imgContainer {
            top: -40px;
        }
        .textContainer {
            margin-left: 100px;
            padding-bottom: 20px;
        }
    }
    .second {
        align-items: flex-start;
        flex-direction: row-reverse;
        .imgContainer {
            bottom: -20px;
        }
        .textContainer {
            margin-right: 100px;
            padding-top: 20px;
        }
        button {
            align-self: flex-end;
        }
    }
}

.harpersJourney {
    background-color: $offWhite;
    .flexContainer {
        padding: 110px 0 100px;
        display: flex;
        justify-content: space-between;
        .imgContainer {
            width: 25%;
            box-shadow: 20px 20px 0 $tertiary;
            img {
                height: 100%;
            }
            margin-bottom: 20px;
        }
        .textContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 65%;
            p {
                padding: 20px 0;
            }
        }

    }
}

.gallery {
    .wrapper {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        .imgContainer {
            width: calc((100%/3) - 24px);
        }
    }
}

// blog page styling

.blogPage {
    background-color: $offWhite;
    padding: 100px 0;
}

.blogPage .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.blogpost {
    width: 65%;
    background-color: white;
    padding: 40px;
    border-bottom: 5px solid $tertiary;
    p {
        margin: 20px 0;
    }
}
.commentSection {
    width: 65%;
}
.blogPage aside {
    position: absolute;
    width: calc(35% - 40px);
    min-width: 350px;
    left: 0;
    top: 0;
}
.aboutHarper {
    background-color: white;
    padding: 40px;
    h4 {
        padding: 30px 0;
    }
    a {
        font-family: $bodyFont;
        text-transform: none;
    }
}
.recentPosts {
    margin: 40px 0;
    background-color: white;
    padding: 40px;
    ul {
        padding-top: 30px;
        li {
            font-size: 0.5rem;
            margin-left: 20px;
            line-height: 1.45rem;
            a {
                padding-left: 14px;
                font-size: 1rem;
                font-family: $bodyFont;
                text-transform: none;
            }
        }
    }
}
.commentSection {
    margin: 20px 0;
    .blogComment {
        background-color: white;
        padding: 40px;
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .imgContainer {
            width: 90px;
        }
        .textContainer {
            width: calc(100% - 110px);
        }
    }
    .blogComment:last-child {
        border-bottom: 5px solid $tertiary;
    }
}

// contact page styling
.contactPage {
    background-color: $offWhite;
    padding: 100px 0;
    .flexContainer {
        display: flex;
        justify-content: space-between;
    }
}
.contactSection {
    padding: 50px 40px;
    width: calc(35% - 40px);
    min-width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    nav ul {
        display: flex;
        li {
            list-style: none;
            .fa-instagram,
            .fa-facebook-f,
            .fa-twitter, 
            .fa-linkedin-in {
                font-size: 1.6rem;
                color: $tertiary;
                margin-right: 30px;
            }
        }
    }
    .email {
        text-transform: none;
    }
    address {
        font-style: normal;
    }
}
