// base typography ie) font sizes and font families
html {
    font-size: 125%;
}

body {
    font-size: 1rem;
    font-family: $bodyFont;
    color: $black;
}

h1, h2, h3, h4, a, button {
    font-family: $headerFont;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

h2 {
    font-size: clamp(3rem, 10vw, 4rem);
    &.homePage {
        font-size: clamp(4rem, 12vw, 8rem);
    }
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.2rem;
    &.scaleUp {
        font-size: clamp(1.2rem, 4vw,1.6rem);
    }
}

a {
    text-decoration: none;
    &.currentPage {
        color: $offWhite;
    }
}

p {
    line-height: 1.6rem;
}

::placeholder {
    color: $black;
    opacity: 1;
}
