
// colour palette
$black: #171717;
$offWhite: #f6f6f6;
$accent: #f38d8d;
$primary: #b9dde7;
$secondary: #68b0c1;
$tertiary: #227284;

// font types
$headerFont: 'Oswald', sans-serif;
$bodyFont: 'Cabin', sans-serif;