html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #f38d8d;
  border: none;
  padding: 10px 20px;
}
button a {
  color: #171717;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  color: #171717;
}

h1, h2, h3, h4, a, button {
  font-family: "Oswald", sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h2 {
  font-size: clamp(3rem, 10vw, 4rem);
}
h2.homePage {
  font-size: clamp(4rem, 12vw, 8rem);
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.2rem;
}
h4.scaleUp {
  font-size: clamp(1.2rem, 4vw,1.6rem);
}

a {
  text-decoration: none;
}
a.currentPage {
  color: #f6f6f6;
}

p {
  line-height: 1.6rem;
}

::-webkit-input-placeholder {
  color: #171717;
  opacity: 1;
}

::-moz-placeholder {
  color: #171717;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #171717;
  opacity: 1;
}

::placeholder {
  color: #171717;
  opacity: 1;
}

nav.headerNav {
  background-color: #b9dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav.headerNav li {
  list-style: none;
}
nav.headerNav .navBar .headerNavDesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav.headerNav .navBar .headerNavDesktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav.headerNav .navBar .headerNavDesktop ul li {
  padding: 0 20px;
}
nav.headerNav .navBar .headerNavDesktop ul li a {
  line-height: 1.45rem;
}
nav.headerNav .navBar .headerNavDesktop h1 {
  padding: 10px 25px;
}

/* mobile menu nonsense */
.headerNavMobile {
  display: none;
}

nav.headerNav .navBar {
  width: 100%;
}
nav.headerNav .navBar .headerNavMobile h1 {
  font-size: clamp(2rem, 12vw, 3rem);
  position: absolute;
  z-index: 10;
  top: 28px;
  left: 35px;
  color: #f6f6f6;
}
nav.headerNav .navBar .headerNavMobile ul {
  background: #e3e4eacc;
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}
nav.headerNav .navBar .headerNavMobile ul a {
  display: inline-block;
  color: #171717;
  font-size: 40px;
  width: 100%;
  padding: 20px 40px;
  -webkit-transition: background 0.7s, color 0.3s;
  transition: background 0.7s, color 0.3s;
}
nav.headerNav .navBar .headerNavMobile ul a:hover, nav.headerNav .navBar .headerNavMobile ul a:focus {
  color: #f6f6f6;
  background: #f38d8dab;
  opacity: 0.9;
}

input[type=checkbox]:checked ~ ul.mainMenu {
  height: auto;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
input[type=checkbox]:focus ~ label {
  background-color: #f38d8dab;
}

label[for=toggle] {
  position: fixed;
  top: 24px;
  right: 25px;
  color: white;
  opacity: 0.9;
  z-index: 20;
  padding: 8px 15px;
  background-color: #b9dde7ab;
  border-radius: 5px;
}
label[for=toggle] .fa-bars {
  font-size: clamp(2rem, 12vw, 3rem);
}
label[for=toggle]:hover, label[for=toggle]:focus {
  background-color: #f38d8dab;
}

header.bannerHeader {
  background-color: #f6f6f6;
}
header.bannerHeader .imgBanner {
  height: 40vh;
  overflow: hidden;
}
header.bannerHeader .imgBanner img {
  height: 100%;
}
header.bannerHeader .wrapper {
  position: relative;
  height: 1px;
  top: -1px;
}
header.bannerHeader .wrapper h2 {
  position: absolute;
  bottom: -32px;
}

header.homePage {
  background-color: #b9dde7;
}
header.homePage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header.homePage .wrapper .imgContainer {
  z-index: 1;
  width: 40%;
  position: relative;
  top: 60px;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}
header.homePage .wrapper .imgContainer img {
  margin-bottom: -5px;
}
header.homePage .wrapper h2 {
  z-index: 2;
  position: relative;
  padding: 30px 35px 30px 100px;
}
header.homePage .wrapper h2 img {
  width: clamp(4rem, 12vw, 8rem);
  position: absolute;
  top: 0;
  right: 0;
}

.whosHarper {
  background-color: #f6f6f6;
}
.whosHarper .wrapper {
  padding: 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.whosHarper .wrapper .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(60% - 100px);
}
.whosHarper .wrapper .textContainer p {
  padding: 25px 0 35px;
}

.linksSection {
  background-color: #f6f6f6;
}
.linksSection .flexContainer {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.linksSection .flexContainer .textContainer {
  width: 50%;
  position: relative;
  padding: 0 40px 60px 80px;
}
.linksSection .flexContainer .textContainer p {
  padding: 25px 0 0;
}
.linksSection .flexContainer .textContainer .fa-image,
.linksSection .flexContainer .textContainer .fa-user-alt,
.linksSection .flexContainer .textContainer .fa-desktop,
.linksSection .flexContainer .textContainer .fa-phone {
  font-size: 1.4rem;
}
.linksSection .flexContainer .bubble {
  background-color: #b9dde7;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -5px;
}

.blogLinks {
  width: 100%;
  position: relative;
}
.blogLinks .shadowOne {
  display: block;
  height: 350px;
  width: 51%;
  background-color: #68b0c1;
  position: absolute;
  z-index: 5;
  top: -20px;
  left: 0;
}
.blogLinks .shadowTwo {
  display: block;
  height: 350px;
  width: 49%;
  background-color: #b9dde7;
  position: absolute;
  z-index: 5;
  bottom: -40px;
  right: 0;
}
.blogLinks .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.blogLinks .flexContainer .imgContainer {
  width: 50%;
  height: 350px;
  position: relative;
  z-index: 10;
}
.blogLinks .flexContainer .imgContainer img {
  height: 100%;
}
.blogLinks .flexContainer .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(50% - 100px);
}
.blogLinks .flexContainer .textContainer p {
  padding: 25px 0 35px;
}
.blogLinks .first {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}
.blogLinks .first .imgContainer {
  top: -40px;
}
.blogLinks .first .textContainer {
  margin-left: 100px;
  padding-bottom: 20px;
}
.blogLinks .second {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.blogLinks .second .imgContainer {
  bottom: -20px;
}
.blogLinks .second .textContainer {
  margin-right: 100px;
  padding-top: 20px;
}
.blogLinks .second button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.harpersJourney {
  background-color: #f6f6f6;
}
.harpersJourney .flexContainer {
  padding: 110px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.harpersJourney .flexContainer .imgContainer {
  width: 25%;
  -webkit-box-shadow: 20px 20px 0 #227284;
          box-shadow: 20px 20px 0 #227284;
  margin-bottom: 20px;
}
.harpersJourney .flexContainer .imgContainer img {
  height: 100%;
}
.harpersJourney .flexContainer .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 65%;
}
.harpersJourney .flexContainer .textContainer p {
  padding: 20px 0;
}

.gallery .wrapper {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper .imgContainer {
  width: calc((100%/3) - 24px);
}

.blogPage {
  background-color: #f6f6f6;
  padding: 100px 0;
}

.blogPage .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blogpost {
  width: 65%;
  background-color: white;
  padding: 40px;
  border-bottom: 5px solid #227284;
}
.blogpost p {
  margin: 20px 0;
}

.commentSection {
  width: 65%;
}

.blogPage aside {
  position: absolute;
  width: calc(35% - 40px);
  min-width: 350px;
  left: 0;
  top: 0;
}

.aboutHarper {
  background-color: white;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aboutHarper h4 {
  padding: 30px 0;
}
.aboutHarper a {
  display: inline-block;
  font-family: "Cabin", sans-serif;
  text-transform: none;
}

.recentPosts {
  margin: 40px 0;
  background-color: white;
  padding: 40px;
}
.recentPosts ul {
  padding-top: 30px;
}
.recentPosts ul li {
  font-size: 0.5rem;
  margin-left: 20px;
  line-height: 1.45rem;
}
.recentPosts ul li a {
  padding-left: 14px;
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  text-transform: none;
}

.commentSection {
  margin: 20px 0;
}
.commentSection .blogComment {
  background-color: white;
  padding: 40px;
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.commentSection .blogComment .imgContainer {
  width: 90px;
}
.commentSection .blogComment .textContainer {
  width: calc(100% - 110px);
}
.commentSection .blogComment:last-child {
  border-bottom: 5px solid #227284;
}

.contactPage {
  background-color: #f6f6f6;
  padding: 100px 0;
}
.contactPage .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactSection {
  padding: 50px 40px;
  width: calc(35% - 40px);
  min-width: 350px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 300px;
}
.contactSection nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSection nav ul li {
  list-style: none;
}
.contactSection nav ul li .fa-instagram,
.contactSection nav ul li .fa-facebook-f,
.contactSection nav ul li .fa-twitter,
.contactSection nav ul li .fa-linkedin-in {
  font-size: 1.6rem;
  color: #227284;
  margin-right: 30px;
}
.contactSection .email {
  text-transform: none;
}
.contactSection address {
  font-style: normal;
}

.commentForm,
.contactForm {
  width: 65%;
}
.commentForm form,
.contactForm form {
  width: 100%;
}
.commentForm form .firstLine,
.contactForm form .firstLine {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.commentForm form .firstLine div.formSection,
.contactForm form .firstLine div.formSection {
  width: calc(50% - 10px);
}
.commentForm form .firstLine div.formSection input,
.contactForm form .firstLine div.formSection input {
  width: 100%;
  border: none;
  padding: 28px 0 28px 40px;
}
.commentForm form .userComment,
.contactForm form .userComment {
  margin: 20px 0;
  width: 100%;
}
.commentForm form .userComment textarea,
.contactForm form .userComment textarea {
  width: 100%;
  padding: 28px 40px;
  resize: none;
  border: none;
  height: 280px;
}
.commentForm form .buttonContainer,
.contactForm form .buttonContainer {
  width: 100%;
}
.commentForm form .buttonContainer button,
.contactForm form .buttonContainer button {
  width: 100%;
}

footer {
  background-color: #171717;
  text-align: center;
  color: #f6f6f6;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 10px;
}

@media (max-width: 1250px) {
  .whosHarper .wrapper {
    padding: 80px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whosHarper .wrapper .textContainer {
    width: 80%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
  }
  .whosHarper .wrapper .textContainer p {
    width: 90%;
  }

  .blogLinks .flexContainer .textContainer {
    width: calc(50% - 40px);
    padding: 20px 0;
  }
  .blogLinks .flexContainer .textContainer p {
    padding-bottom: 20px;
  }
  .blogLinks .flexContainer .imgContainer {
    width: 50%;
  }
  .blogLinks .first .textContainer {
    margin-left: 40px;
  }
  .blogLinks .second .textContainer {
    margin-right: 40px;
  }

  .gallery .wrapper {
    padding: 40px 0;
  }

  .blogpost,
.commentForm,
.contactForm,
.commentSection {
    width: calc(100% - 390px);
  }

  .commentSection .blogComment .textContainer p:first-child {
    padding-bottom: 10px;
  }

  .commentForm form .firstLine,
.contactForm form .firstLine {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .commentForm form .firstLine .userName,
.contactForm form .firstLine .userName {
    margin-bottom: 20px;
  }
  .commentForm form .firstLine div.formSection,
.contactForm form .firstLine div.formSection {
    width: 100%;
  }
}
@media (max-width: 915px) {
  header.homePage .wrapper {
    padding: 10px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header.homePage .wrapper .imgContainer {
    width: 90%;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 80vh;
  }
  header.homePage .wrapper .imgContainer img {
    height: 100%;
  }
  header.homePage .wrapper h2 {
    position: absolute;
    bottom: -4%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 30px 35px;
    font-size: clamp(4rem, 18vw, 8rem);
  }
  header.homePage .wrapper h2 img {
    width: clamp(4rem, 18vw, 8rem);
  }

  .whosHarper .wrapper {
    padding: 60px 0;
  }
  .whosHarper .wrapper .textContainer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .whosHarper .wrapper .textContainer p {
    width: 90%;
  }

  .linksSection .imgBanner {
    height: 275px;
  }
  .linksSection .imgBanner img {
    height: 275px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .linksSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0;
  }
  .linksSection .flexContainer .textContainer {
    width: 90%;
    padding: 0 0 0 70px;
  }
  .linksSection .flexContainer .textContainer p {
    padding: 25px 0;
  }

  .blogLinks {
    width: 100%;
    position: relative;
  }
  .blogLinks .shadowOne {
    width: 100%;
  }
  .blogLinks .shadowTwo {
    width: 100%;
    bottom: 21%;
  }
  .blogLinks .flexContainer {
    width: 100%;
  }
  .blogLinks .flexContainer .imgContainer {
    width: 100%;
    height: 350px;
  }
  .blogLinks .flexContainer .textContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .blogLinks .flexContainer .textContainer p {
    padding: 25px 0 35px;
  }
  .blogLinks .first,
.blogLinks .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .blogLinks .first .imgContainer,
.blogLinks .second .imgContainer {
    top: -40px;
  }
  .blogLinks .first .textContainer,
.blogLinks .second .textContainer {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
  }
  .blogLinks .first .textContainer p,
.blogLinks .second .textContainer p {
    padding-bottom: 20px;
  }
  .blogLinks .first button,
.blogLinks .second button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .blogLinks .first .textContainer {
    margin-bottom: 40px;
  }

  .harpersJourney .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .harpersJourney .flexContainer .imgContainer {
    width: 80%;
    margin-bottom: 50px;
    max-height: 400px;
    -webkit-box-shadow: 100px 20px 0 #227284, -100px 20px 0 #227284;
            box-shadow: 100px 20px 0 #227284, -100px 20px 0 #227284;
  }
  .harpersJourney .flexContainer .imgContainer img {
    -o-object-position: top;
       object-position: top;
  }
  .harpersJourney .flexContainer .textContainer {
    width: 100%;
  }
  .harpersJourney .flexContainer .textContainer button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .gallery .wrapper div:nth-last-child(2) {
    display: none;
  }
  .gallery .wrapper .imgContainer {
    width: calc(50% - 20px);
  }

  .blogpost,
.commentSection {
    width: 100%;
  }

  .blogPage,
.contactPage {
    padding: 60px 0;
  }

  .blogPage aside {
    position: static;
    width: 100%;
  }
  .blogPage aside .aboutHarper {
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blogPage aside .aboutHarper .textContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
  .blogPage aside .aboutHarper .imgContainer {
    width: 40%;
  }
  .blogPage aside .recentPosts {
    margin: 40px 0 0 0;
  }

  .commentForm {
    width: 100%;
  }

  .commentForm form .firstLine .userName,
.contactForm form .firstLine .userName {
    margin-bottom: 0;
  }
  .commentForm form .firstLine div.formSection,
.contactForm form .firstLine div.formSection {
    width: calc(50% - 10px);
  }

  .contactPage .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactPage .flexContainer .contactSection {
    width: 100%;
    margin-bottom: 40px;
  }
  .contactPage .flexContainer .contactForm {
    width: 100%;
  }
}
@media (max-width: 700px) {
  header.homePage .wrapper {
    width: 100%;
    padding: 0;
  }
  header.homePage .wrapper .imgContainer {
    width: 100%;
    height: 85vh;
  }
  header.homePage .wrapper h2 {
    bottom: -8%;
  }
  header.homePage .wrapper h2 img {
    display: none;
  }

  .headerNavMobile {
    display: block;
  }

  nav.headerNav .navBar .headerNavDesktop {
    display: none;
  }

  .blogLinks {
    width: 100%;
  }
  .blogLinks .shadowOne {
    display: none;
  }
  .blogLinks .shadowTwo {
    display: none;
  }
  .blogLinks .wrapper {
    width: 100%;
  }
  .blogLinks .flexContainer .imgContainer {
    width: 100%;
    height: 350px;
  }
  .blogLinks .flexContainer .imgContainer img {
    height: 100%;
  }
  .blogLinks .flexContainer .textContainer {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 40px;
  }
  .blogLinks .flexContainer .textContainer p {
    padding: 25px 0 35px;
  }
  .blogLinks .first,
.blogLinks .second {
    margin-bottom: 20px;
  }
  .blogLinks .first .imgContainer,
.blogLinks .second .imgContainer {
    top: 0px;
  }

  .harpersJourney .flexContainer .imgContainer {
    width: 100%;
    margin-bottom: 30px;
    max-height: 400px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .blogPage p {
    font-size: 0.9rem;
  }
  .blogPage .wrapper {
    width: 100%;
  }

  .commentForm form .firstLine,
.contactForm form .firstLine {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .commentForm form .firstLine .userName,
.contactForm form .firstLine .userName {
    margin-bottom: 20px;
  }
  .commentForm form .firstLine div.formSection,
.contactForm form .firstLine div.formSection {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .gallery .wrapper div:last-child {
    display: none;
  }
  .gallery .wrapper .imgContainer {
    width: 100%;
  }

  .commentSection .blogComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commentSection .blogComment .textContainer {
    margin-top: -60px;
    width: 100%;
  }
  .commentSection .blogComment .textContainer p:first-child {
    padding-left: 110px;
  }
  .commentSection .blogComment .textContainer p:first-child span {
    display: block;
  }

  .blogPage aside {
    min-width: 200px;
  }
  .blogPage aside .aboutHarper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage aside .aboutHarper .imgContainer {
    width: 100%;
    max-height: 350px;
  }
  .blogPage aside .aboutHarper .imgContainer img {
    height: 100%;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .blogPage aside .aboutHarper .textContainer {
    width: 100%;
  }

  .contactPage .wrapper {
    width: 100%;
  }
  .contactPage .wrapper .contactSection {
    min-width: 200px;
  }
}
@media (max-width: 415px) {
  .whosHarper .wrapper .textContainer button {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }

  .linksSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0 30px 0;
  }
  .linksSection .flexContainer .textContainer {
    width: 90%;
    padding: 0;
  }
  .linksSection .flexContainer .textContainer p {
    padding: 25px 0;
  }
  .linksSection .flexContainer .textContainer h4 {
    padding-left: 80px;
  }

  .blogLinks .first .textContainer,
.blogLinks .second .textContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .blogLinks .first button,
.blogLinks .second button {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }

  .harpersJourney .flexContainer .textContainer {
    text-align: center;
  }
  .harpersJourney .flexContainer .textContainer button {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }

  .blogPage aside .aboutHarper {
    padding: 0;
  }
  .blogPage aside .aboutHarper .textContainer {
    padding: 0 30px 30px 30px;
  }
  .blogPage aside .recentPosts {
    padding: 20px 0 20px 20px;
  }

  .commentSection .blogComment .textContainer {
    margin-top: 20px;
  }
  .commentSection .blogComment .textContainer p:first-child {
    padding-left: 0px;
  }
}